<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddEmpl</servlet-name>
        <servlet-class>AddEmpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMan</servlet-name>
        <servlet-class>AddMan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLog</servlet-name>
        <servlet-class>AdminLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLog</servlet-name>
        <servlet-class>EmpLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManLog</servlet-name>
        <servlet-class>ManLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPro</servlet-name>
        <servlet-class>AddPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leave</servlet-name>
        <servlet-class>Leave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProRepo</servlet-name>
        <servlet-class>ProRepo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmpl</servlet-name>
        <url-pattern>/AddEmpl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMan</servlet-name>
        <url-pattern>/AddMan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLog</servlet-name>
        <url-pattern>/AdminLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLog</servlet-name>
        <url-pattern>/EmpLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManLog</servlet-name>
        <url-pattern>/ManLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPro</servlet-name>
        <url-pattern>/AddPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leave</servlet-name>
        <url-pattern>/Leave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProRepo</servlet-name>
        <url-pattern>/ProRepo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
